@charset "UTF-8";

/* 해외경쟁정책 */
.p-wrap.p-economy-view .p-table .p-table__field.bt th:before,
.p-wrap.p-economy-view .p-table .p-table__field.bt td:before{display:none;}
.p-wrap.p-economy-view .p-table .p-table__field:not(.bt) th{vertical-align:middle;}
@media all and (min-width:1024px){
    .p-wrap.p-economy-view .p-table .p-table__field.bt th,
    .p-wrap.p-economy-view .p-table .p-table__field.bt td{padding-top:0.4rem; padding-bottom:0.4rem; border-bottom:none;}
    .p-wrap.p-economy-view .p-table .p-table__field.bt:nth-last-child(6) th,
    .p-wrap.p-economy-view .p-table .p-table__field.bt:nth-last-child(6) td{padding-top:2rem;}
}
@media all and (max-width:1023px){
    .p-wrap.p-economy-view .p-table .p-table__field:not(.bt) th{vertical-align:top;}
    .p-wrap.p-economy-view .p-table .p-table__subject + .p-table__field th:nth-child(3){padding-top:1.4rem;}
}

/* 위원장일정 */
.schedule-box{display:flex; position:relative;}
.schedule-box > div{overflow:hidden; position:relative; width:100%; border:0.1rem solid #c6c6c6;}
.schedule-box .schedule-calendar{position:relative; max-width:36rem; padding:0 1rem 1rem; border-radius:0.8rem;}
.schedule-box .schedule-calendar .schedule-calendar-top{display:flex; justify-content:space-between; align-items:center; position:relative; margin:0 -1rem; padding:0.8rem 1rem 0.7rem; background-color:#ecf0f5; text-align:center;}
.schedule-box .schedule-calendar .schedule-calendar-top .cal-date{font-size:1.9rem; font-weight:400;}
.schedule-box .schedule-calendar .schedule-calendar-top .cal-btn{width:4rem; height:4.8rem; background:url(/site/guide/img/component/ico_cal_move.svg) no-repeat center; font-size:0; line-height:0; vertical-align:top;}
.schedule-box .schedule-calendar .schedule-calendar-top .cal-btn.next{transform:rotate(180deg);}
.schedule-box .schedule-calendar .cal-tbl{}
.schedule-box .schedule-calendar .cal-tbl thead{}
.schedule-box .schedule-calendar .cal-tbl tbody{}
.schedule-box .schedule-calendar .cal-tbl th{height:4.8rem; padding:0 1rem; font-size:1.6rem; font-weight:400;}
.schedule-box .schedule-calendar .cal-tbl td{position:relative; padding-top:0.4rem; text-align:center;}
.schedule-box .schedule-calendar .cal-tbl td .date-btn{display:block; position:relative; width:100%; height:4.8rem; border:0; border-radius:0.4rem; color:var(--krds-gray-90); font-size:1.7rem; line-height:4.8rem; text-align:center; vertical-align:middle; white-space:nowrap; cursor:pointer;}
.schedule-box .schedule-calendar .cal-tbl td.off .date-btn{color:rgba(113, 113, 113, 0.3);}
.schedule-box .schedule-calendar .cal-tbl td.active .date-btn{color:#fff;}
.schedule-box .schedule-calendar .cal-tbl td.today .date-btn:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:4.8rem; height:4.8rem; margin:auto; border-radius:50%; box-shadow:0 0 0 0.2rem inset #ebf4f8; font-size:0; line-height:0; content:'오늘';}
.schedule-box .schedule-calendar .cal-tbl td.active .date-btn:before{display:block; position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; width:4.8rem; height:4.8rem; margin:auto; border-radius:50%; background-color:#236beb; font-size:0; line-height:0; content:'선택한 날짜';}
.schedule-box .schedule-calendar .cal-tbl td.has:before{display:block; position:absolute; left:0; right:0; bottom:0; width:0.8rem; height:0.8rem; margin:0 auto; border-radius:50%; background-color:#236beb; font-size:0; line-height:0; content:'일정 있음';}
.schedule-box .schedule-list{overflow-y:auto; width:100%; max-height:42.5rem; margin-left:1.2rem; border-radius:var(--krds-rd-12);}
.schedule-box .schedule-list .schedule-tbl{}
.schedule-box .schedule-list .schedule-tbl thead th{position:sticky; top:0; background-color:#ecf0f5; color:#1d1d1d; font-size:1.7rem; font-weight:700; padding:2.2rem 3rem 1.8rem 3rem; text-align:left;}
.schedule-box .schedule-list .schedule-tbl tbody th,
.schedule-box .schedule-list .schedule-tbl tbody td{border-bottom: 0.1rem solid #d8d8d8; padding:1.3rem 1rem 1.2rem; color:#555; font-size:1.7rem; font-weight:400;}
.schedule-box .schedule-list .schedule-tbl tbody th{color:#1d1d1d;}
@media all and (max-width:799px){
    .schedule-box{display:block;}
    .schedule-box .schedule-calendar{margin:0 auto;}
    .schedule-box .schedule-list{height:42.5rem; margin-left:0; margin-top:1.2rem;}
}
@media all and (max-width:599px){
    .schedule-box .schedule-calendar{max-width:100%; padding-bottom:1rem;}
    .schedule-box .schedule-calendar .schedule-calendar-top{padding-top:0.5rem; padding-bottom:0.5rem;}
    .schedule-box .schedule-calendar .schedule-calendar-top .cal-date{font-size:1.7rem;}
    .schedule-box .schedule-calendar .cal-tbl td .date-btn{height:4rem; font-size:1.5rem; line-height:4rem;}
    .schedule-box .schedule-calendar .cal-tbl td.today .date-btn:before,
    .schedule-box .schedule-calendar .cal-tbl td.active .date-btn:before{width:4rem; height:4rem;}
    .schedule-box .schedule-calendar .cal-tbl td.has:before{width:0.6rem; height:0.6rem;}
    .schedule-box .schedule-list{height:35.9rem;}
    .schedule-box .schedule-list .schedule-tbl thead th{padding:1.5rem 2rem 1.3rem;}
    .schedule-box .schedule-list .schedule-tbl tbody th,
    .schedule-box .schedule-list .schedule-tbl tbody td{padding:1rem 0.6rem; font-size:1.5rem;}
}

/* 전문용어사전 */
.p-wrap.p-dictionary{}
.p-wrap.p-dictionary .search-top-box .sch-filter-box{margin-bottom:5rem;}
.p-wrap.p-dictionary .search-top-box .sch-filter-box .filter-form{justify-content:center;}
.p-wrap.p-dictionary .search-top-box .sch-filter-box .filter-form .label{min-width:auto; margin-right:0.5rem;}
.p-wrap.p-dictionary .search-top-box .sch-filter-box .filter-form > div{width:45rem;}
.p-wrap.p-dictionary .search-top-box .sch-filter-box .filter-form .form-control{}
.p-wrap.p-dictionary .search-top-box .spell-box{position:relative; margin-top:2.4rem; padding-top:2.4rem; border-top:0.1rem solid #c6c6c6;}
.p-wrap.p-dictionary .search-top-box .spell-box .spell-list{display:flex; flex-direction:row; gap:0.8rem;}
.p-wrap.p-dictionary .search-top-box .spell-box .spell-item{width:calc((100% - 1.6rem)/ 15); text-align:center;}
.p-wrap.p-dictionary .search-top-box .spell-box .spell-item:last-child{width:calc((100% / 15) + 1.6rem);}
.p-wrap.p-dictionary .search-top-box .spell-box .spell-item .spell-btn{display:block; width:100%; height:4.8rem; border-radius:0.8rem; border:0.1rem solid #246beb; background-color:#eff5ff; color:#1d56bc; line-height:4.8rem;}
.p-wrap.p-dictionary .search-top-box .spell-box .spell-item.active .spell-btn{border-color:#16408d; background-color:#16408d; color:#fff; font-weight:700;}
.p-wrap.p-dictionary .bbs-page{margin-bottom:1.7rem;}
.p-wrap.p-dictionary .bbs-page-count{font-size:2.1rem; font-weight:700;}
.p-wrap.p-dictionary .bbs-page-count .em-blue{color:#1d56bc!important;}
.p-wrap.p-dictionary .conts-expand-area.txt-box{padding-top:3.2rem; background-color:#fff;}
.p-wrap.p-dictionary .conts-expand-area.txt-box+.conts-expand-area.txt-box{margin-top:2.4rem;}
.p-wrap.p-dictionary .conts-expand-area.txt-box .expand-wrap{max-height:13.7rem;}
.p-wrap.p-dictionary .conts-expand-area.txt-box .expand-wrap:after{background:linear-gradient(180deg, transparent 0%, #fff 100%);}
.p-wrap.p-dictionary .conts-expand-area.txt-box .p-dictionary-title{margin-bottom:1.3rem; color:#000b17; font-size:2.1rem; font-weight:700;}
.p-wrap.p-dictionary .conts-expand-area.txt-box .p-dictionary-txt{}
.p-wrap.p-dictionary .conts-expand-area.txt-box .btn-conts-expand{align-items:normal; padding-top:0.4rem; border-top:0; color:#1d1d1d;}
.p-wrap.p-dictionary .conts-expand-area.txt-box .btn-conts-expand:before{display:inline-block; width:2rem; height:2rem; margin-top:0.2rem; margin-right:0.2rem; background:url('../../guide/img/component/ico_arrow_next.svg') no-repeat center; transform:rotate(90deg); transition:transform 0.4s ease-in-out; content:'';}
.p-wrap.p-dictionary .conts-expand-area.txt-box.active .btn-conts-expand:before{transform:rotate(270deg);}
.p-wrap.p-dictionary .conts-expand-area.txt-box .btn-conts-expand:after{display:none;}
@media all and (max-width:799px){
    .p-wrap.p-dictionary .search-top-box .spell-box .spell-list{flex-wrap:wrap; justify-content:center;}
    .p-wrap.p-dictionary .search-top-box .spell-box .spell-item{width:calc(100%/9);}
    .p-wrap.p-dictionary .search-top-box .spell-box .spell-item:last-child{width:calc(100%/9);}
    .p-wrap.p-dictionary .conts-expand-area.txt-box{padding-top:2.8rem; padding-left:3rem; padding-right:3rem;}
}
@media all and (max-width:599px){
    .p-wrap.p-dictionary .search-top-box .sch-filter-box{margin-bottom:4rem;}
    .p-wrap.p-dictionary .search-top-box .sch-filter-box .filter-form > div{width:auto;}
    .p-wrap.p-dictionary .search-top-box .sch-filter-box.filter-label .filter-form > div{padding-left:3.6rem;}
    .p-wrap.p-dictionary .search-top-box .spell-box{margin-top:2rem; padding-top:2rem;}
    .p-wrap.p-dictionary .search-top-box .spell-box .spell-item{width:calc(100%/6)!important;}
    .p-wrap.p-dictionary .search-top-box .spell-box .spell-item .spell-btn{height:4rem; line-height:4rem;}
    .p-wrap.p-dictionary .bbs-page{margin-bottom:1.2rem;}
    .p-wrap.p-dictionary .bbs-page-count{font-size:1.9rem;}
    .p-wrap.p-dictionary .conts-expand-area.txt-box{padding:2.5rem 2rem 0;}
    .p-wrap.p-dictionary .conts-expand-area.txt-box+.conts-expand-area.txt-box{margin-top:2rem;}
    .p-wrap.p-dictionary .conts-expand-area.txt-box .p-dictionary-title{margin-bottom:1rem; font-size:1.9rem;}
}


/* 통신판매 공통 */
.p-wrap.p-network .search-top-box .sch-form-wrap{justify-content:center;}
.p-wrap.p-network .search-top-box .sch-form-wrap+.sch-form-wrap{margin-top:1rem;}
.p-wrap.p-network .search-top-box .sch-filter-box .filter-form{justify-content:center; margin-top:var(--krds-spacer-6);}
.p-wrap.p-network .search-top-box .sch-filter-box .filter-form .title-tit.block{display:block;}
@media all and (max-width:599px){
    .p-wrap.p-network .search-top-box .sch-filter-box .filter-form{margin-top:var(--krds-spacer-2);}
}

/* search-btn-wrap */
.search-btn-wrap{position:relative; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; gap:1.2rem; margin-bottom:4rem;}
form+.search-btn-wrap{margin-top:0!important;}
@media all and (max-width:599px){
    .search-btn-wrap{margin-bottom:3rem; gap:0.6rem;}
    form+.search-btn-wrap{margin-top:1rem!important;}
}

.text-blur{filter:blur(0.3rem);}


/* 새창팝업 */
#wrapper.new-window{padding:var(--krds-spacer-5);}
#wrapper.new-window .sub-head{align-items:flex-start; margin-bottom:var(--krds-spacer-8); font-size:var(--krds-fz-heading-md);}
#wrapper.new-window #contents{}


/* captcha 팝업 */
.captcha-wrap{position:relative; padding:2rem;}
.captcha-wrap .captcha-box{display:flex; align-items:center; justify-content:center; width:32rem; height:6.5rem; padding:0; border-radius:1.2rem; border: 0.1rem solid #c6c6c6; text-align:center;}
.captcha-wrap .captcha-box img{vertical-align:middle;}
.captcha-wrap .helper-box{width:32rem; margin-top:1rem; padding:var(--krds-spacer-2);}
.captcha-wrap .captcha-form{display:flex; align-items:center; gap:0.5rem; width:32rem; margin-top:1rem;}
.captcha-wrap .captcha-form .form-control{width:100%;}

/* 검색영역 공통 적용 */
.p-wrap.p-network .search-top-box .sch-form-wrap{margin-bottom:0;}
@media all and (max-width:599px) {
    #contents .p-wrap.p-network .search-top-box .sch-form-wrap .btn.md{width:100%;}
}

/* 다단계판매사업자 주요정보공개 목록 */
.p-wrap.p-network-list .search-top-box .sch-filter-box .filter-form .form-select.year{max-width:28rem;}

/* 다단계판매사업자 등록현황 목록 */
.p-wrap.p-network-list .captcha-wrap{display:inline-block;}


/* 정책자료 */
.search-list-top{display:flex; justify-content:space-between; gap:var(--krds-spacer-10);}
.search-list-top.type1{padding:var(--krds-spacer-10) 0;}
.search-list-top .sch-info{font-size:var(--krds-fz-title-lg); font-weight:700;}
.search-list-top .sch-info .keyword{color:var(--krds-primary-60);}
.search-list-top .sch-sort{display:flex; justify-content:flex-end; align-items:center;}
.search-list-top .sch-sort li{display:flex; align-items:center;}
.search-list-top .sch-sort .sort-label{margin-right:var(--krds-spacer-3); font-weight:700; white-space:nowrap;}
.search-list-top .sch-sort .w-sort-btn{display:flex; align-items:center; gap:var(--krds-spacer-4);}
.search-list-top .sch-sort .w-sort-btn button.active{text-decoration:underline;}
.search-list-top .sch-sort .m-sort-btn{display:none;}
.search-list .card-body .c-text:hover{text-decoration:underline;}
@media all and (max-width:1320px){
    .search-list{grid-template-columns:1fr 1fr;}
}
@media all and (max-width:1023px){
    .search-list-top .sch-sort .w-sort-btn{display:none;}
    .search-list-top .sch-sort .m-sort-btn{display:flex; align-items:center; gap:var(--krds-spacer-4);}
    .search-list-top{flex-direction:column; padding:var(--krds-spacer-8) 0;}
    .search-list-top.type1 .sch-info{order:2;}
}
@media all and (max-width:599px){
    .search-list-top{gap:var(--krds-spacer-8);}
    .search-list-top.type1{padding:0 0 var(--krds-spacer-8);}
    .search-list{grid-template-columns:1fr;}
}

/* 팝업모음 */
.popup-program{position:relative;}
.popup-program .popup-list{display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; gap:var(--krds-spacer-9) var(--krds-spacer-6); position:relative;}
.popup-program .popup-item{position:relative; display:block; width:calc((100% - (var(--krds-spacer-6)*1))/2);}
.popup-program .popup-item .popup-anchor{display:block; width:100%;}
.popup-program .popup-item .popup-image{overflow:hidden; border-radius:var(--krds-rd-8); border:0.1rem solid var(--krds-gray-40);}
.popup-program .popup-item .popup-image-wrap{overflow:hidden; display:block; position:relative; width:100%; padding-top:calc(33% - 0.2rem); height:auto;}
.popup-program .popup-item .popup-image-wrap img{position:absolute; top:50%; left:50%; width:auto; height:100%; max-width:none; max-height:100%; min-height:100%; transform:translate(-50%, -50%);}
.popup-program .popup-item .popup-tit{position:relative; display:block; margin-top:var(--krds-spacer-4); padding-bottom:var(--krds-spacer-2); font-size:var(--krds-fz-body-md); text-align:center;}
.popup-program .popup-item .popup-tit span{overflow:hidden; display:block; max-width:100%; white-space:nowrap; text-overflow:ellipsis;}
.popup-program.type2{}
.popup-program.type2 .popup-item{width:calc((100% - (var(--krds-spacer-6)*2))/3);}
.popup-program.type2 .popup-item .popup-tit{display:flex; align-items:center; justify-content:center; height:8rem; margin-top:0; padding:0 2rem 0; border-radius:var(--krds-rd-8); border:0.1rem solid var(--krds-gray-40);}
.popup-program.type2 .popup-item .popup-tit span{overflow:visible; white-space:normal; text-overflow:unset;}
@media all and (max-width:799px){
    .popup-program.type2 .popup-item{width:calc((100% - (var(--krds-spacer-6)*1))/2);}
}
@media all and (max-width:599px){
    .popup-program .popup-list{gap:var(--krds-spacer-6) 0;}
    .popup-program .popup-item{width:100%;}
    .popup-program .popup-item .popup-tit{margin-top:var(--krds-spacer-3);}
    .popup-program.type2 .popup-item{width:100%;}
}


/* 정보목록 */
.p-wrap.info-program .p-table tr.expanded{position:relative;}
.p-wrap.info-program .p-table tr.expanded > td{vertical-align:top;}
.p-wrap.info-program .p-table .p-subject .p-list{}
.p-wrap.info-program .p-table .p-subject .p-list .detail-cont{display:none; position:absolute; left:0; right:0; width:100%; padding:2.5rem 2.5rem 2rem; background:#f9f9f9;}
.p-wrap.info-program .p-table .p-subject .p-list .detail-cont.active{display:block; margin-top:0;border:1px solid #eee}

@media all and (max-width:799px){
    /* .p-wrap.info-program .p-table tr.expanded{display:block;} */
    .p-wrap.info-program .p-table .p-subject .p-list .detail-cont{bottom:0;}
    
    .p-table.simple .detail-cont .tbl th .add-head{display:none;}
    .p-table.simple .detail-cont .tbl td .add-head{display:none;}
    
    /** tbl-wrap responsive **/
    .detail-cont .tbl-wrap.responsive .tbl{border-top:none;}
    .detail-cont .tbl-wrap.responsive .tbl colgroup,.tbl-wrap.responsive .tbl thead{display:none}
    .detail-cont .tbl-wrap.responsive .tbl tbody tr{display:block; position:relative; padding-top:0; padding-bottom:0; border-bottom:none;}
    .detail-cont .tbl-wrap.responsive .tbl tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    .detail-cont .tbl-wrap.responsive .tbl tbody td,
    .detail-cont .tbl-wrap.responsive .tbl tbody th{display:block; width:100%; height:auto; padding:0.6rem 2%; border:none; background-color:transparent; text-align:left!important; font-size:1.7rem; font-weight:400; vertical-align:top;}
    .detail-cont .tbl-wrap.responsive .tbl tbody td:before,
    .detail-cont .tbl-wrap.responsive .tbl tbody th:before{display:block; color:var(--krds-gray-90); font-size:1.7rem; font-weight:700; content:attr(data-content);}
    .detail-cont .tbl-wrap.responsive .tbl tfoot tr{display:block; position:relative; padding-top:0.8rem; padding-bottom:0.8rem; border-bottom:0.1rem solid var(--krds-gray-30);}
    .detail-cont .tbl-wrap.responsive .tbl tfoot tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    .detail-cont .tbl-wrap.responsive .tbl tfoot td,
    .detail-cont .tbl-wrap.responsive .tbl tfoot th{display:block; width:100%; height:auto; padding:0.6rem 2%; border:none; background-color:transparent; text-align:left!important; vertical-align:top;}
    .detail-cont .tbl-wrap.responsive .tbl tfoot td:before,
    .detail-cont .tbl-wrap.responsive .tbl tfoot th:before{display:block; color:var(--krds-gray-90); font-weight:700; content:attr(data-content);}
    
    .detail-cont .tbl-wrap.type2.responsive tbody th{font-weight:700; padding-bottom:0;}
    .detail-cont .tbl-wrap.type2.responsive tbody th:before{display:none;}
    .detail-cont .tbl-wrap.type2.responsive tbody td{padding-top:0;}
    .p-wrap.info-program .p-table .p-subject .p-list .detail-cont{padding:0.5rem 2.5rem 2rem;}
}